* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 100vh;
    margin: 0px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(19, 18, 18);
}

header,
footer {
    background-color: #1F2937;
    align-items: center;
    padding: 16px 200px 16px 200px;  
}

header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}


ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 18px;
    font-size: 18px;
}

a {
   color: #E5E7EB;
   text-decoration: none; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    flex: 1;
    gap:300px;
    padding: 100px 200px 100px 200px
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
        .content h1 {
        color: #F9FAF8; 
        margin: 0px;
        font-size: 48px;
        }
        .content p {
        color: #E5E7EB;
        margin: 0px;
        font-size: 18px;
        }
        .content button {
            background-color: #3882F6;
            color: #F9FAF8;
            padding: 8px;
            border-radius: 6px;
            font-size: 18px;
            border: 0px;
            max-width: 120px;
            margin: 16px 0px 16px 0px;
            font-weight: bold;
        }

img {
    width: auto;
    height: 250px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #F9FAF8;
}

        .display h1 {
            color: #1F2937;
            font-weight: 800;
            font-size: 36px;
            padding: 20px;
        }

        .display-images {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }

        .display-images div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    flex: 1;
    padding: 100px 200px 100px 200px
}

        .quote p {
            font-size: 36px;
            font-style: italic;
            color: #1F2937;
        }
        .quote h3 {
            display: flex;
            justify-content: flex-end;
        }

.action {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex: 1;
    
}
    .action button {
        background-color: #3882F6;
        color: #F9FAF8;
        padding: 4px;
        border-radius: 6px;
        font-size: 20px;
        border-width: 2px;
        border-color: #F9FAF8;
        border-style: solid;
        max-width: 120px;
        margin: 16px 0px 16px 0px;
    }


footer {
    display: flex;
    justify-content: center;
}